//! **************************************************************************
// Written by: Map P.20131013 on Thu Apr 13 11:01:32 2017
//! **************************************************************************

SCHEMATIC START;
COMP "red<1>" LOCATE = SITE "V7" LEVEL 1;
COMP "red<2>" LOCATE = SITE "N7" LEVEL 1;
COMP "HS" LOCATE = SITE "N6" LEVEL 1;
COMP "green<0>" LOCATE = SITE "P8" LEVEL 1;
COMP "green<1>" LOCATE = SITE "T6" LEVEL 1;
COMP "green<2>" LOCATE = SITE "V6" LEVEL 1;
COMP "VS" LOCATE = SITE "P7" LEVEL 1;
COMP "blue<0>" LOCATE = SITE "R7" LEVEL 1;
COMP "blue<1>" LOCATE = SITE "T7" LEVEL 1;
COMP "fpga_clk" LOCATE = SITE "V10" LEVEL 1;
COMP "rst" LOCATE = SITE "T10" LEVEL 1;
COMP "red<0>" LOCATE = SITE "U7" LEVEL 1;
SCHEMATIC END;

